<h1 style="front-size:3rem;color:orange;"> Programming Progect Dataset Fishers Iris</h1>

## Download Dataset

In [15]:
 import pandas as pd

In [37]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data," names = ["Sepal Length","Sepal Width","Petal Length","Petal Width","class"])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (67756122.py, line 1)

In [27]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [28]:
df.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [29]:
df.shape

(149, 5)